/*@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Righteous");*/

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
    color: black;
    font-size: 16px;
    width: 100%;
    position: fixed;
    border: 0;
    outline: 0;
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
}

h1,
h2,
h3 {
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
}

p {
    margin-block-start: 1.4em;
    margin-block-end: 1.4em;
}

h1,
p,
footer {
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

ul {
    margin-left: -35px;
    list-style-type: none;
}

.wrapper {
    width: 100%;
}

.container {
    width: calc(100% - 50px);
    max-width: 780px;
    margin: 0 auto;
    padding: 120px 25px;
    position: relative;
    z-index: 1;
}

.content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
}

.white-space {
    white-space: nowrap;
}

/*------------------------ PRE-LOADER ------------------------*/

.pre-loader {
    margin: 0px;
    padding: 0px;
    display: table-cell;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 999;
    background: black;
}

#canvas {
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 999;
}

svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.svg-logo {
    fill: transparent;
    stroke: white;
    stroke-width: 2px;
    stroke-dasharray: 1300;
    stroke-dashoffset: 1300;
}

.svg-logo-icon {
    fill: transparent;
    stroke: white;
    stroke-width: 2px;
    stroke-dasharray: 1300;
    stroke-dashoffset: 1300;
    animation: dash 2s linear forwards;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
        stroke: white;
    }
}

/*------------------------ HEADER ------------------------*/

header {
    position: fixed;
    padding: 30px 40px;
    width: calc(100% - 80px);
    z-index: 10;
}

#head-start {
    opacity: 0;
    transform: translateY(-100%);
    -webkit-animation: slideInFromTop 1s ease;
    -moz-animation: slideInFromTop 1s ease;
    -ms-animation: slideInFromTop 1s ease;
    -o-animation: slideInFromTop 1s ease;
    animation: slideInFromTop 1s ease;
    animation-delay: 3.5s;
    -ms-animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

.head-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@keyframes slideInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-moz-keyframes slideInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes slideInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-ms-keyframes slideInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-o-keyframes slideInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.logo {
    width: 60px;
}

.logo a:hover {
    text-decoration: none;
}

.nav-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 35px;
    position: relative;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    margin-top: 10px;
}

.nav-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #000;
    opacity: 1;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
}

.nav-icon span:nth-child(1) {
    top: 0px;
    transform-origin: left center;
}

.nav-icon span:nth-child(2) {
    top: 10px;
    transform-origin: left center;
}

.nav-icon span:nth-child(3) {
    top: 20px;
    transform-origin: left center;
    width: 60%;
    right: 0 !important;
}

.nav-icon:hover span:nth-child(3) {
    width: 100%;
}

/*------------------------ NAV ANIMATED ARROW ------------------------*/

.nav-arrow {
    position: fixed;
    transform: translateY(0);
    opacity: 0;
    top: 150px;
    right: -50px;
    -webkit-animation: fadeUp 1.5s ease;
    -moz-animation: fadeUp 1.5s ease;
    -ms-animation: fadeUp 1.5s ease;
    -o-animation: fadeUp 1.5s ease;
    animation: fadeUp 1.5s ease;
    animation-delay: 3.5s;
    -ms-animation-delay: 1.5s;
    animation-fill-mode: forwards;
    z-index: 5;
}

.no-animation-nav-arrow {
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    -o-animation: none;
    animation: none;
    transform: translateY(-100%);
    opacity: 1;
}

.nav-arrow-container {
    display: inline-flex;
    padding: 5px;
    transform: translateY(300%) rotate(90deg);
}

@keyframes fadeUp {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    100% {
        transform: translateY(-100%);
        opacity: 1;
    }
}

@-moz-keyframes fadeUp {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    100% {
        transform: translateY(-100%);
        opacity: 1;
    }
}

@-webkit-keyframes fadeUp {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    100% {
        transform: translateY(-100%);
        opacity: 1;
    }
}

@-ms-keyframes fadeUp {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    100% {
        transform: translateY(-100%);
        opacity: 1;
    }
}

@-o-keyframes fadeUp {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    100% {
        transform: translateY(-100%);
        opacity: 1;
    }
}

.nav-arrow-head {
    display: inline-flex;
}

.nav-arrow-head span {
    display: block;
    position: absolute;
    left: 0;
    width: 20px;
    height: 2px;
    border-radius: 2px;
    overflow: hidden;
    background: black;
    animation: animation-arrow 2s infinite;
    animation-delay: 6.5s;
    -ms-animation-delay: 3s;
    z-index: 5;
}

.nav-arrow-head span:nth-child(1) {
    transform-origin: left bottom;
    margin-left: -17px;
    transform: rotate(45deg) translate3d(11px, -12px, 0);
}

.nav-arrow-head span:nth-child(2) {
    transform-origin: left bottom;
    transform: rotate(-45deg);
}

.nav-arrow-line {
    position: relative;
    margin-left: -5px;
    margin-right: 20px;
    left: 0;
    width: 150px;
    height: 2px;
    background: transparent;
    overflow: hidden;
    z-index: 5;
}

.nav-arrow-line-after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 150px;
    height: 2px;
    background: black;
    animation: animation-line 2s infinite;
    animation-delay: 6.5s;
    -ms-animation-delay: 3s;
}

.nav-arrow-text {
    margin-top: -10px;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 1em;
    text-transform: uppercase;
}

@keyframes animation-line {
    0% {
        left: 0;
    }

    25% {
        left: 0;
    }

    50% {
        left: 150px;
    }

    75% {
        left: 0;
    }

    100% {
        left: 0;
    }
}

@keyframes animation-arrow {
    0% {
        width: 20px;
    }

    25% {
        width: 0;
    }

    50% {
        width: 0;
    }

    75% {
        width: 0;
    }

    100% {
        width: 20px;
    }
}

/*------------------------ FULL MENU ------------------------*/

.full-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.full-menu.first {
    transition: opacity 0s 0s, visibility 0s 0.3s !important;
}

.full-menu .nav-logo {
    position: absolute;
    z-index: 12;
    top: 0;
    left: 0;
    padding: 30px 40px;
    height: 100px;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    visibility: 0s 0.3s, opacity 0.3s 0s;
    transition: transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
}

.full-menu .nav-logo img {
    width: 60px;
    height: 60px;
}

.full-menu .modal-close {
    position: absolute;
    z-index: 12;
    top: 0;
    right: 0;
    margin: 20px 30px;
    padding: 15px 15px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3) url(/assets/img/icons/regular/close.svg) no-repeat center center;
    background-size: cover;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    visibility: 0s 0.3s, opacity 0.3s 0s;
    transition: transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
}

.full-menu .full-menu-content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.full-menu .cpright {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 0.8em;
    text-align: center;
    position: absolute;
    z-index: 12;
    bottom: 0;
    left: 0;
    padding: 30px 40px;
    width: calc(100% - 80px);
    overflow: hidden;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    visibility: 0s 0.3s, opacity 0.3s 0s;
    transition: transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
}

.no-touch .full-menu .modal-close:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.full-menu.visible {
    background-size: 100%;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.7s, visibility 0s;
    transition-delay: 0.2s;
}

.full-menu.visible .full-menu-content {
    -webkit-overflow-scrolling: touch;
}

.full-menu.visible .nav-logo {
    visibility: visible;
    opacity: 1;
    transition: transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
    transform: scale(1);
    transition-delay: 0.2s;
}

.full-menu.visible .modal-close {
    visibility: visible;
    opacity: 1;
    transition: transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
    transform: scale(1);
    transition-delay: 0.2s;
}

.full-menu.visible .cpright {
    visibility: visible;
    opacity: 1;
    transition: transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
    transform: scale(1);
    transition-delay: 0.2s;
}

.cd-transition-layer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
}

.cd-transition-layer .bg-layer {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-2%);
    transform: translateY(-50%) translateX(-2%);
    height: 100%;
    /* our sprite is composed of 25 frames */
    width: 2500%;
    background: url(/assets/img/bg-layer.png) no-repeat 0 0;
    background-size: 100% 100%;
}

.cd-transition-layer.visible {
    opacity: 1;
    visibility: visible;
}

.cd-transition-layer.opening .bg-layer {
    animation: cd-sequence 0.75s steps(24);
    animation-fill-mode: forwards;
}

.cd-transition-layer.closing .bg-layer {
    animation: cd-sequence-reverse 0.75s steps(24);
    animation-fill-mode: forwards;
}

.no-cssanimations .cd-transition-layer {
    display: none;
}

@keyframes cd-sequence {
    0% {
        transform: translateY(-50%) translateX(-98%);
    }

    100% {
        transform: translateY(-50%) translateX(-2%);
    }
}

@keyframes cd-sequence-reverse {
    0% {
        transform: translateY(-50%) translateX(-2%);
    }

    100% {
        transform: translateY(-50%) translateX(-98%);
    }
}

/*------------------------ NAVIGATION ------------------------*/

.page-menu {
    font-family: "Righteous", sans-serif;
    font-size: 2.2em;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.menu-list-item {
    position: relative;
    cursor: pointer;
}

.menu-list-item a {
    line-height: 250%;
    color: #3d3d3d;
    text-decoration: none;
}

.menu-list-item a:hover {
    transition: all ease-in 0.2s;
    color: white;
}

/*------------------------ LINE BACKGROUND ------------------------*/

.line-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    bottom: 0;
    z-index: -1;
    overflow: hidden;
}

.vl {
    animation-duration: 2s;
    animation-delay: 3.5s;
    -ms-animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.vl-border-left {
    border-left: 1px dashed #777;
    transform: rotate(0deg);
}

.vl-border-right {
    border-right: 1px dashed #777;
    transform: rotate(180deg);
}

.vl-border-str-left {
    border-bottom: 1px dashed #777;
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.vl-border-str-right {
    border-top: 1px dashed #777;
    transform: rotate(0deg);
}

.vertical-lines0 {
    width: 1px;
    height: 0;
    background-color: transparent;
    animation-name: vertical-line00;
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: top;
}

@keyframes vertical-line00 {
    0% {
        height: 0;
        transform: rotate(0deg);
    }

    25% {
        height: 100%;
        transform: rotate(0deg);
        left: 50%;
    }

    50% {
        height: 100%;
        transform: rotate(0deg);
        left: 35%;
    }

    100% {
        height: 100%;
        transform: rotate(45deg);
        left: 35%;
    }
}

.vertical-lines1 {
    width: 1px;
    height: 0;
    background-color: transparent;
    animation-name: vertical-line01;
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: top;
}

@keyframes vertical-line01 {
    0% {
        height: 0;
        transform: rotate(180deg);
    }

    25% {
        height: 100%;
        transform: rotate(180deg);
        left: 50%;
    }

    50% {
        height: 100%;
        transform: rotate(180deg);
        left: 35%;
    }

    100% {
        height: 100%;
        transform: rotate(225deg);
        left: 35%;
    }
}

.vertical-lines2 {
    width: 1px;
    height: 0;
    background-color: transparent;
    animation-name: vertical-line02;
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: top;
}

@keyframes vertical-line02 {
    0% {
        height: 0;
        transform: rotate(0deg);
    }

    25% {
        height: 100%;
        transform: rotate(0deg);
        left: 50%;
    }

    50% {
        height: 100%;
        transform: rotate(0deg);
        left: 35%;
    }

    100% {
        height: 100%;
        transform: rotate(-45deg);
        left: 35%;
    }
}

.vertical-lines3 {
    width: 1px;
    height: 0;
    background-color: transparent;
    animation-name: vertical-line03;
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: top;
}

@keyframes vertical-line03 {
    0% {
        height: 0;
        transform: rotate(180deg);
    }

    25% {
        height: 100%;
        transform: rotate(180deg);
        left: 50%;
    }

    50% {
        height: 100%;
        transform: rotate(180deg);
        left: 35%;
    }

    100% {
        height: 100%;
        transform: rotate(135deg);
        left: 35%;
    }
}

.vertical-lines4 {
    width: 1px;
    height: 0;
    background-color: transparent;
    animation-name: vertical-line04;
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: top;
}

@keyframes vertical-line04 {
    0% {
        height: 0;
        transform: rotate(0deg);
    }

    25% {
        height: 100%;
        transform: rotate(0deg);
        left: 50%;
    }

    50% {
        height: 100%;
        transform: rotate(0deg);
        left: 65%;
    }

    100% {
        height: 100%;
        transform: rotate(45deg);
        left: 65%;
    }
}

.vertical-lines5 {
    width: 1px;
    height: 0;
    background-color: transparent;
    animation-name: vertical-line05;
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: top;
}

@keyframes vertical-line05 {
    0% {
        height: 0;
        transform: rotate(180deg);
    }

    25% {
        height: 100%;
        transform: rotate(180deg);
        left: 50%;
    }

    50% {
        height: 100%;
        transform: rotate(180deg);
        left: 65%;
    }

    100% {
        height: 100%;
        transform: rotate(225deg);
        left: 65%;
    }
}

.vertical-lines6 {
    width: 1px;
    height: 0;
    background-color: transparent;
    animation-name: vertical-line06;
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: top;
}

@keyframes vertical-line06 {
    0% {
        height: 0;
        transform: rotate(0deg);
    }

    25% {
        height: 100%;
        transform: rotate(0deg);
        left: 50%;
    }

    50% {
        height: 100%;
        transform: rotate(0deg);
        left: 65%;
    }

    100% {
        height: 100%;
        transform: rotate(-45deg);
        left: 65%;
    }
}

.vertical-lines7 {
    width: 1px;
    height: 0;
    background-color: transparent;
    animation-name: vertical-line07;
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: top;
}

@keyframes vertical-line07 {
    0% {
        height: 0;
        transform: rotate(180deg);
    }

    25% {
        height: 100%;
        transform: rotate(180deg);
        left: 50%;
    }

    50% {
        height: 100%;
        transform: rotate(180deg);
        left: 65%;
    }

    100% {
        height: 100%;
        transform: rotate(135deg);
        left: 65%;
    }
}

.vertical-lines8 {
    width: 0;
    height: 1px;
    background-color: transparent;
    animation-name: vertical-line08;
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: left;
}

@keyframes vertical-line08 {
    0% {
        width: 0;
    }

    25% {
        width: 100%;
        top: 50%;
    }

    50% {
        width: 100%;

        top: 50%;
    }

    100% {
        width: 100%;
        top: 85%;
    }
}

.vertical-lines9 {
    width: 0;
    height: 1px;
    background-color: transparent;
    animation-name: vertical-line09;
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: right;
}

@keyframes vertical-line09 {
    0% {
        width: 0;
    }

    25% {
        width: 100%;
        top: 50%;
    }

    50% {
        width: 100%;

        top: 50%;
    }

    100% {
        width: 100%;
        top: 85%;
    }
}

/*------------------------ DOTS ------------------------*/

.dot {
    position: absolute;
    width: 10px;
    height: 10px;
    background: url(/assets/img/icons/regular/dot.svg) no-repeat center center;
    opacity: 0;
    transition: opacity 0.5s;
}

.pulse {
    position: absolute;
    margin: auto;
}

.dot-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    bottom: 0;
    z-index: 0;
}

.dots {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    bottom: 0;
}

/*------------------------ SOCIAL ICON ------------------------*/

.icon-bar {
    position: fixed;
    padding: 30px 40px;
    top: 70%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 5;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
}

.icon-bar a img {
    width: 20px;
    height: 20px;
}

.instagram {
    transform: translateY(-100%);
    opacity: 0;
    -webkit-animation: fadeDown 0.35s ease-in-out;
    -moz-animation: fadeDown 0.35s ease-in-out;
    -ms-animation: fadeDown 0.35s ease-in-out;
    -o-animation: fadeDown 0.35s ease-in-out;
    animation: fadeDown 0.35s ease-in-out;
    animation-delay: 3.8s;
    -ms-animation-delay: 1.8s;
    animation-fill-mode: forwards;
}

.linkedin {
    transform: translateY(-100%);
    opacity: 0;
    -webkit-animation: fadeDown 0.35s ease-in-out;
    -moz-animation: fadeDown 0.35s ease-in-out;
    -ms-animation: fadeDown 0.35s ease-in-out;
    -o-animation: fadeDown 0.35s ease-in-out;
    animation: fadeDown 0.35s ease-in-out;
    animation-delay: 3.7s;
    -ms-animation-delay: 1.7s;
    animation-fill-mode: forwards;
}

.behance {
    transform: translateY(-100%);
    opacity: 0;
    -webkit-animation: fadeDown 0.35s ease-in-out;
    -moz-animation: fadeDown 0.35s ease-in-out;
    -ms-animation: fadeDown 0.35s ease-in-out;
    -o-animation: fadeDown 0.35s ease-in-out;
    animation: fadeDown 0.35s ease-in-out;
    animation-delay: 3.6s;
    -ms-animation-delay: 1.6s;
    animation-fill-mode: forwards;
}

.github {
    transform: translateY(-100%);
    opacity: 0;
    -webkit-animation: fadeDown 0.35s ease-in-out;
    -moz-animation: fadeDown 0.35s ease-in-out;
    -ms-animation: fadeDown 0.35s ease-in-out;
    -o-animation: fadeDown 0.35s ease-in-out;
    animation: fadeDown 0.35s ease-in-out;
    animation-delay: 3.5s;
    -ms-animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes fadeDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@-moz-keyframes fadeDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes fadeDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@-ms-keyframes fadeDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@-o-keyframes fadeDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/*------------------------ NOISE ------------------------*/

.noise {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    pointer-events: none;
    opacity: 0.05;
}

.no-animation-social-icon {
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    -o-animation: none;
    animation: none;
    transform: translateY(0);
    opacity: 1;
}

/*------------------------ FOOTER ------------------------*/

footer {
    position: fixed;
    left: 0;
    width: calc(100% - 80px);
    bottom: auto;
    padding: 30px 40px;
    top: 100%;
    -webkit-animation: slideInFromBottom 1s ease;
    -moz-animation: slideInFromBottom 1s ease;
    -ms-animation: slideInFromBottom 1s ease;
    -o-animation: slideInFromBottom 1s ease;
    animation: slideInFromBottom 1s ease;
    animation-delay: 3.5s;
    -ms-animation-delay: 1.5s;
    animation-fill-mode: forwards;
    z-index: 10;
}

.no-animation-footer {
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    -o-animation: none;
    animation: none;
    transform: translateY(-100%);
}

.normal-footer {
    position: relative;
    top: auto;
    transform: inherit;
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}

@-moz-keyframes slideInFromBottom {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}

@-webkit-keyframes slideInFromBottom {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}

@-ms-keyframes slideInFromBottom {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}

@-o-keyframes slideInFromBottom {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}

.is-open-contact {
    transform: translateY(-75%);
    transition: transform 1s ease;
}

.is-close-contact {
    transform: translateY(0);
    transition: transform 1s ease;
}

.is-open-contact .arrow {
    transform: rotate(45deg) translate(0, 0);
}

.is-open-contact .arrow:before {
    transform: rotate(175deg) translate(0, 0);
}

.is-open-contact .arrow:after {
    transform: rotate(-90deg) translate(0, 0);
}

.foot-wrapper {
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
}

.foot-wrapper .contact-title {
    text-align: center;
    cursor: pointer;
    display: none;
}

.foot-wrapper .contact-title .arrow {
    float: right;
}

.foot-wrapper .social-icon {
    text-align: center;
    display: none;
}

.foot-wrapper .cols {
    font-family: "Montserrat", sans-serif;
    font-size: 0.8em;
    font-weight: 600;
    color: black;
    width: 32%;
}

.foot-wrapper .cols a,
.copyright {
    font-weight: 800;
    color: black;
    text-decoration: none;
}

.foot-wrapper .cols img {
    width: 20px;
    height: 20px;
}

.foot-wrapper .cols:nth-child(2) {
    text-align: left;
}

.foot-wrapper .cols:nth-child(3) {
    text-align: center;
}

.foot-wrapper .cols:nth-child(5) {
    text-align: right;
}

/*------------------------ HOME ------------------------*/

.index {
    background: url(/assets/img/bg.jpg) no-repeat center center;
    background-size: cover;
    display: table;
    height: 100vh;
    overflow: hidden;
}

.overlay {
    z-index: 1;
    height: 100vh;
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    background: rgba(255, 255, 255, 0.7);
}

.main {
    display: table;
    width: 100%;
    height: 100vh;
}

.main-title {
    font-family: "Righteous", sans-serif;
    font-size: 3em;
    line-height: 150%;
    text-align: center;
    color: black;
    font-weight: 400;
}

.intro {
    margin-top: 20px;
    color: black;
    font-size: 1em;
    font-weight: 600;
    line-height: 200%;
    text-align: center;
}

.main-btn {
    color: black;
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
    border: 3px solid black;
    padding: 12px 0;
    width: 100%;
    max-width: 250px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.main-btn:hover {
    color: white;
    border: 3px solid black;
    background: black;
    transition: all ease 0.3s;
}

.main-content {
    padding: 0 60px;
    vertical-align: middle;
    display: table-cell;
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
    animation: 1s ease 1 normal both running text-focus-in;
    animation-delay: 3.5s;
    -ms-animation-delay: 0.5s;
}

@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

/*------------------------ ABOUT ------------------------*/

.about {
    height: 100vh;
    display: flex;
    align-items: center;
}

.my-pic {
    width: 100%;
    box-shadow: 0px 10px 20px #777;
}

.animate-pic {
    -webkit-animation: scaling 20s linear infinite alternate;
    -moz-animation: scaling 20s linear infinite alternate;
    -ms-animation: scaling 20s linear infinite alternate;
    -o-animation: scaling 20s linear infinite alternate;
    animation: scaling 20s linear infinite alternate;
}

@-webkit-keyframes scaling {
    0% {
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }

    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scaling {
    0% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

.about-title {
    font-family: "Righteous", sans-serif;
    font-size: 3em;
    line-height: 150%;
    color: black;
    font-weight: 400;
}

.biography {
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
}

.technical-skill {
    text-align: center;
}

.flex-container {
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
}

.left-col {
    width: 52%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-col {
    width: 42%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.grid-col {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    width: 100%;
}

.grid-col img {
    width: 40px;
}

.grid-col div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*------------------------ WORKS ------------------------*/

.works {
    height: auto;
}

.works-title {
    font-family: "Righteous", sans-serif;
    font-size: 3em;
    line-height: 150%;
    color: black;
    font-weight: 400;
    text-align: center;
}

.works-description {
    margin-top: 20px;
    color: black;
    font-size: 1em;
    font-weight: 600;
    line-height: 150%;
    text-align: center;
}

.no-work {
    font-family: "Righteous", sans-serif;
    font-size: 1.5em;
    line-height: 150%;
    color: black;
    font-weight: 400;
}

#work-items {
    margin-top: -70px;
    padding-bottom: 50px;
}

.work-container {
    width: calc(100% - 50px);
    max-width: 780px;
    margin: 0 auto;
    padding: 120px 25px;
    position: relative;
    z-index: 1;
    text-align: center;
}

.work-img {
    width: calc(100% - 40px);
    max-width: 400px;
    box-shadow: 0px 10px 20px #777;
    margin: 0 20px;
}

.work-header {
    position: relative;
    background: black;
    width: calc(100% - 40px);
    padding: 20px 20px 15px 20px;
    margin-top: -5px;
    z-index: 3;
}

.work-title {
    font-family: "Righteous", sans-serif;
    font-size: 1.5em;
    line-height: 150%;
    color: white;
    font-weight: 400;
    text-align: center;
}

.work-type {
    color: white;
    font-size: 14px;
    margin-top: 0px;
}

.work-desc {
    margin: 40px 0;
    color: black;
    font-size: 1em;
    font-weight: 600;
    line-height: 200%;
    text-align: center;
}

.work-buttons {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.work-btn {
    color: black;
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
    border: 3px solid black;
    margin: 10px;
    padding: 12px 0;
    width: 45%;
}

.work-btn:hover {
    color: white;
    border: 3px solid black;
    background: black;
    transition: all ease 0.3s;
}

/*------------------------ CONTACT ------------------------*/

.contact {
    height: 95vh;
    display: flex;
    align-items: center;
}

.contact-title {
    font-family: "Righteous", sans-serif;
    font-size: 3em;
    line-height: 150%;
    color: black;
    font-weight: 400;
    text-align: center;
}

.contact-description {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    font-size: 1em;
    font-weight: 600;
    line-height: 200%;
    text-align: center;
    width: 100%;
    max-width: 450px;
}

.contact-form-container {
    width: 100%;
    max-width: 450px;
    height: 400px;
    display: block;
    margin: 0 auto;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    body {
        font-size: 18px;
    }

    .intro {
        margin-top: 30px;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
        border: 1px solid #ccc;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: black;
    }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (orientation: portrait) {

    .icon-bar {
        top: 70%;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
        border: 1px solid #ccc;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: black;
    }
}

@media (min-width: 1025px) and (min-height: 801px) and (orientation: landscape) {

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
        border: 1px solid #ccc;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: black;
    }
}

@media (min-width: 1025px) and (max-height: 800px) and (orientation: landscape) {
    .icon-bar {
        top: 50%;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
        border: 1px solid #ccc;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: black;
    }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 990px) and (max-width: 1024px) and (orientation: portrait) {
    body {
        font-size: 15px;
    }

    .icon-bar {
        top: 75%;
    }

    .nav-arrow {
        display: none;
    }

    .index {
        background-size: 100%;
    }

    .active {
        color: white !important;
    }
}

@media (min-width: 990px) and (max-width: 1024px) and (orientation: landscape) {
    body {
        font-size: 15px;
    }

    .icon-bar {
        top: 50%;
    }

    .nav-arrow {
        display: none;
    }

    .index {
        background-size: 100%;
    }

    .active {
        color: white !important;
    }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 989px) and (orientation: portrait) {
    body {
        font-size: 12px;
    }

    .main-title {
        font-size: 2.2em;
    }

    .intro {
        margin-top: 0px;
    }

    header {
        padding: 20px 25px;
        width: calc(100% - 50px);
    }

    .logo {
        width: 50px;
    }

    .nav-arrow {
        display: none;
    }

    .icon-bar {
        display: none;
    }

    .index {
        background-size: 130%;
    }

    footer {
        padding: 0;
        width: 100%;
    }

    .normal-footer {
        position: fixed;
        top: 100%;
        -webkit-transform: translateY(-25%);
        -moz-transform: translateY(-25%);
        -ms-transform: translateY(-25%);
        -o-transform: translateY(-25%);
        transform: translateY(-25%);
    }

    .no-animation-footer {
        -webkit-transform: translateY(-25%);
        -moz-transform: translateY(-25%);
        -ms-transform: translateY(-25%);
        -o-transform: translateY(-25%);
        transform: translateY(-25%);
    }

    .foot-wrapper {
        background-color: black;
        padding: 15px 25px 25px 25px;
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .foot-wrapper .cols {
        width: 100%;
        text-align: center !important;
    }

    .foot-wrapper .contact-title {
        display: block;
        padding-left: 10px !important;
        margin-bottom: 15px;
        width: calc(100% - 10px) !important;
    }

    .foot-wrapper .social-icon {
        display: block;
        margin: 15px 0px;
    }

    .foot-wrapper .social-icon a {
        margin: 0px 10px;
    }

    .foot-wrapper .cols {
        color: white;
        padding: 2px 0;
    }

    .foot-wrapper .cols a,
    .copyright {
        color: white;
        text-decoration: none;
    }

    @keyframes slideInFromBottom {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-25%);
        }
    }

    /* Firefox < 16 */
    @-moz-keyframes slideInFromBottom {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-25%);
        }
    }

    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes slideInFromBottom {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-25%);
        }
    }

    /* Internet Explorer */
    @-ms-keyframes slideInFromBottom {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-25%);
        }
    }

    /* Opera < 12.1 */
    @-o-keyframes slideInFromBottom {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-25%);
        }
    }

    .arrow {
        width: 13px;
        height: 13px;
        display: inline-block;
        position: relative;
        bottom: -5px;
        left: -10px;
        transition: 0.4s ease;
        margin-top: 2px;
        text-align: left;
        transform: rotate(45deg);
    }

    .arrow:before {
        position: absolute;
        content: "";
        display: inline-block;
        width: 12px;
        height: 2px;
        background-color: #fff;
        transition: 0.4s ease;
        position: absolute;
        transform: rotate(90deg);
    }

    .arrow:after {
        position: absolute;
        content: "";
        display: inline-block;
        width: 12px;
        height: 2px;
        background-color: #fff;
        transition: 0.4s ease;
        top: -6px;
        left: 6px;
    }

    .full-menu .modal-close {
        padding: 15px 15px;
        margin: 20px 15px;
        width: 20px;
        height: 20px;
    }

    .full-menu .nav-logo {
        padding: 20px 25px;
    }

    .full-menu .nav-logo img {
        width: 50px;
        height: 65px;
    }

    .menu-list-item a {
        line-height: 250%;
    }

    .active {
        color: white !important;
    }

    .about {
        height: auto;
    }

    .contact {
        height: auto;
    }
}

@media (min-width: 768px) and (max-width: 989px) and (orientation: landscape) {
    body {
        font-size: 12px;
    }

    .main-title {
        font-size: 2.2em;
    }

    .intro {
        margin-top: 0px;
    }

    header {
        padding: 20px 25px;
        width: calc(100% - 50px);
    }

    .logo {
        width: 50px;
    }

    .nav-arrow {
        display: none;
    }

    .icon-bar {
        display: none;
    }

    .index {
        background-size: 130%;
    }

    footer {
        padding: 0;
        width: 100%;
    }

    .normal-footer {
        position: fixed;
        top: 100%;
        -webkit-transform: translateY(-25%);
        -moz-transform: translateY(-25%);
        -ms-transform: translateY(-25%);
        -o-transform: translateY(-25%);
        transform: translateY(-25%);
    }

    .no-animation-footer {
        transform: translateY(-25%);
    }

    .foot-wrapper {
        background-color: black;
        padding: 15px 25px 25px 25px;
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .foot-wrapper .cols {
        width: 100%;
        text-align: center !important;
    }

    .foot-wrapper .contact-title {
        display: block;
        padding-left: 10px !important;
        margin-bottom: 15px;
        width: calc(100% - 10px) !important;
    }

    .foot-wrapper .social-icon {
        display: block;
        margin: 15px 0px;
    }

    .foot-wrapper .social-icon a {
        margin: 0px 10px;
    }

    .foot-wrapper .cols {
        color: white;
        padding: 2px 0;
    }

    .foot-wrapper .cols a,
    .copyright {
        color: white;
        text-decoration: none;
    }

    @keyframes slideInFromBottom {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-25%);
        }
    }

    /* Firefox < 16 */
    @-moz-keyframes slideInFromBottom {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-25%);
        }
    }

    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes slideInFromBottom {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-25%);
        }
    }

    /* Internet Explorer */
    @-ms-keyframes slideInFromBottom {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-25%);
        }
    }

    /* Opera < 12.1 */
    @-o-keyframes slideInFromBottom {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-25%);
        }
    }

    .arrow {
        width: 13px;
        height: 13px;
        display: inline-block;
        position: relative;
        bottom: -5px;
        left: -10px;
        transition: 0.4s ease;
        margin-top: 2px;
        text-align: left;
        transform: rotate(45deg);
    }

    .arrow:before {
        position: absolute;
        content: "";
        display: inline-block;
        width: 12px;
        height: 2px;
        background-color: #fff;
        transition: 0.4s ease;
        position: absolute;
        transform: rotate(90deg);
    }

    .arrow:after {
        position: absolute;
        content: "";
        display: inline-block;
        width: 12px;
        height: 2px;
        background-color: #fff;
        transition: 0.4s ease;
        top: -6px;
        left: 6px;
    }

    .full-menu .modal-close {
        padding: 15px 15px;
        margin: 20px 15px;
        width: 20px;
        height: 20px;
    }

    .full-menu .nav-logo {
        padding: 20px 25px;
    }

    .full-menu .nav-logo img {
        width: 50px;
        height: 65px;
    }

    .menu-list-item a {
        line-height: 250%;
    }

    .active {
        color: white !important;
    }

    .about {
        height: auto;
    }

    .contact {
        height: auto;
    }
}

@media (max-width: 830px) {
    .flex-container {
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .left-col {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .right-col {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }

    header {
        background: white;
    }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 431px to 767px
*/

@media (min-width: 431px) and (max-width: 767px) and (orientation: portrait) {
    body {
        font-size: 12px;
    }

    .main-title {
        font-size: 2em;
    }

    .intro {
        margin-top: 0px;
    }

    header {
        padding: 20px 25px;
        width: calc(100% - 50px);
    }

    .logo {
        width: 40px;
    }

    .nav-arrow {
        display: none;
    }

    .icon-bar {
        display: none;
    }

    .index {
        background-size: 130%;
    }

    footer {
        padding: 0;
        width: 100%;
    }

    .normal-footer {
        position: fixed;
        top: 100%;
        -webkit-transform: translateY(-25%);
        -moz-transform: translateY(-25%);
        -ms-transform: translateY(-25%);
        -o-transform: translateY(-25%);
        transform: translateY(-25%);
    }

    .no-animation-footer {
        transform: translateY(-25%);
    }

    .foot-wrapper {
        background-color: black;
        padding: 15px 25px 25px 25px;
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .foot-wrapper .cols {
        width: 100%;
        text-align: center !important;
    }

    .foot-wrapper .contact-title {
        display: block;
        padding-left: 10px !important;
        margin-bottom: 15px;
        width: calc(100% - 10px) !important;
    }

    .foot-wrapper .social-icon {
        display: block;
        margin: 15px 0px;
    }

    .foot-wrapper .social-icon a {
        margin: 0px 10px;
    }

    .foot-wrapper .cols {
        color: white;
        padding: 2px 0;
    }

    .foot-wrapper .cols a,
    .copyright {
        color: white;
        text-decoration: none;
    }

    @keyframes slideInFromBottom {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-25%);
        }
    }

    /* Firefox < 16 */
    @-moz-keyframes slideInFromBottom {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-25%);
        }
    }

    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes slideInFromBottom {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-25%);
        }
    }

    /* Internet Explorer */
    @-ms-keyframes slideInFromBottom {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-25%);
        }
    }

    /* Opera < 12.1 */
    @-o-keyframes slideInFromBottom {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-25%);
        }
    }

    .arrow {
        width: 13px;
        height: 13px;
        display: inline-block;
        position: relative;
        bottom: -5px;
        left: -10px;
        transition: 0.4s ease;
        margin-top: 2px;
        text-align: left;
        transform: rotate(45deg);
    }

    .arrow:before {
        position: absolute;
        content: "";
        display: inline-block;
        width: 12px;
        height: 2px;
        background-color: #fff;
        transition: 0.4s ease;
        position: absolute;
        transform: rotate(90deg);
    }

    .arrow:after {
        position: absolute;
        content: "";
        display: inline-block;
        width: 12px;
        height: 2px;
        background-color: #fff;
        transition: 0.4s ease;
        top: -6px;
        left: 6px;
    }

    .full-menu .modal-close {
        padding: 15px 15px;
        margin: 20px 15px;
        width: 20px;
        height: 20px;
    }

    .full-menu .nav-logo {
        padding: 20px 25px;
    }

    .full-menu .nav-logo img {
        width: 40px;
        height: 55px;
    }

    .menu-list-item a {
        line-height: 250%;
    }

    .active {
        color: white !important;
    }

    .about {
        height: auto;
    }

    .contact {
        height: auto;
    }
}

@media (min-width: 431px) and (max-width: 767px) and (orientation: landscape) {
    body {
        font-size: 12px;
    }

    .main-title {
        font-size: 2em;
    }

    .intro {
        margin-top: 0px;
    }

    header {
        padding: 20px 25px;
        width: calc(100% - 50px);
    }

    .logo {
        width: 40px;
    }

    .nav-arrow {
        display: none;
    }

    .icon-bar {
        display: none;
    }

    .index {
        background-size: 120%;
    }

    footer {
        padding: 0;
        width: 100%;
    }

    .normal-footer {
        position: fixed;
        top: 100%;
        -webkit-transform: translateY(-25%);
        -moz-transform: translateY(-25%);
        -ms-transform: translateY(-25%);
        -o-transform: translateY(-25%);
        transform: translateY(-25%);
    }

    .no-animation-footer {
        transform: translateY(-25%);
    }

    .foot-wrapper {
        background-color: black;
        padding: 15px 25px 25px 25px;
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .foot-wrapper .cols {
        width: 100%;
        text-align: center !important;
    }

    .foot-wrapper .contact-title {
        display: block;
        padding-left: 10px !important;
        margin-bottom: 15px;
        width: calc(100% - 10px) !important;
    }

    .foot-wrapper .social-icon {
        display: block;
        margin: 15px 0px;
    }

    .foot-wrapper .social-icon a {
        margin: 0px 10px;
    }

    .foot-wrapper .cols {
        color: white;
        padding: 2px 0;
    }

    .foot-wrapper .cols a,
    .copyright {
        color: white;
        text-decoration: none;
    }

    @keyframes slideInFromBottom {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-25%);
        }
    }

    /* Firefox < 16 */
    @-moz-keyframes slideInFromBottom {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-25%);
        }
    }

    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes slideInFromBottom {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-25%);
        }
    }

    /* Internet Explorer */
    @-ms-keyframes slideInFromBottom {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-25%);
        }
    }

    /* Opera < 12.1 */
    @-o-keyframes slideInFromBottom {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-25%);
        }
    }

    .arrow {
        width: 13px;
        height: 13px;
        display: inline-block;
        position: relative;
        bottom: -5px;
        left: -10px;
        transition: 0.4s ease;
        margin-top: 2px;
        text-align: left;
        transform: rotate(45deg);
    }

    .arrow:before {
        position: absolute;
        content: "";
        display: inline-block;
        width: 12px;
        height: 2px;
        background-color: #fff;
        transition: 0.4s ease;
        position: absolute;
        transform: rotate(90deg);
    }

    .arrow:after {
        position: absolute;
        content: "";
        display: inline-block;
        width: 12px;
        height: 2px;
        background-color: #fff;
        transition: 0.4s ease;
        top: -6px;
        left: 6px;
    }

    .full-menu .modal-close {
        padding: 15px 15px;
        margin: 20px 15px;
        width: 20px;
        height: 20px;
    }

    .full-menu .nav-logo {
        padding: 15px 25px;
    }

    .full-menu .nav-logo img {
        width: 40px;
        height: 55px;
    }

    .menu-list-item a {
        line-height: 180%;
    }

    .active {
        color: white !important;
    }

    .about {
        height: auto;
    }

    .contact {
        height: auto;
    }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 430px
*/

@media (min-width: 320px) and (max-width: 430px) and (orientation: portrait) {
    body {
        font-size: 12px !important;
    }

    .main-title {
        font-size: 2em;
    }

    .intro {
        margin-top: 0px;
    }

    header {
        padding: 20px 25px;
        width: calc(100% - 50px);
    }

    .logo {
        width: 40px;
    }

    .nav-arrow {
        display: none;
    }

    .icon-bar {
        display: none;
    }

    .index {
        background-size: 200%;
    }

    footer {
        padding: 0;
        width: 100%;
    }

    .normal-footer {
        position: fixed;
        top: 100%;
        -webkit-transform: translateY(-25%);
        -moz-transform: translateY(-25%);
        -ms-transform: translateY(-25%);
        -o-transform: translateY(-25%);
        transform: translateY(-25%);
    }

    .no-animation-footer {
        transform: translateY(-25%);
    }

    .foot-wrapper {
        background-color: black;
        padding: 15px 25px 25px 25px;
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .foot-wrapper .cols {
        width: 100%;
        text-align: center !important;
    }

    .foot-wrapper .contact-title {
        display: block;
        padding-left: 10px !important;
        margin-bottom: 15px;
        width: calc(100% - 10px) !important;
    }

    .foot-wrapper .social-icon {
        display: block;
        margin: 15px 0px;
    }

    .foot-wrapper .social-icon a {
        margin: 0px 10px;
    }

    .foot-wrapper .cols {
        color: white;
        padding: 2px 0;
    }

    .foot-wrapper .cols a,
    .copyright {
        color: white;
        text-decoration: none;
    }

    @keyframes slideInFromBottom {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-25%);
        }
    }

    /* Firefox < 16 */
    @-moz-keyframes slideInFromBottom {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-25%);
        }
    }

    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes slideInFromBottom {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-25%);
        }
    }

    /* Internet Explorer */
    @-ms-keyframes slideInFromBottom {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-25%);
        }
    }

    /* Opera < 12.1 */
    @-o-keyframes slideInFromBottom {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-25%);
        }
    }

    .arrow {
        width: 13px;
        height: 13px;
        display: inline-block;
        position: relative;
        bottom: -5px;
        left: -10px;
        transition: 0.4s ease;
        margin-top: 2px;
        text-align: left;
        transform: rotate(45deg);
    }

    .arrow:before {
        position: absolute;
        content: "";
        display: inline-block;
        width: 12px;
        height: 2px;
        background-color: #fff;
        transition: 0.4s ease;
        position: absolute;
        transform: rotate(90deg);
    }

    .arrow:after {
        position: absolute;
        content: "";
        display: inline-block;
        width: 12px;
        height: 2px;
        background-color: #fff;
        transition: 0.4s ease;
        top: -6px;
        left: 6px;
    }

    .full-menu .modal-close {
        padding: 15px 15px;
        margin: 20px 15px;
        width: 20px;
        height: 20px;
    }

    .full-menu .cpright {
        font-size: 12px;
    }

    .full-menu .nav-logo {
        padding: 15px 25px;
    }

    .full-menu .nav-logo img {
        width: 40px;
        height: 55px;
    }

    .menu-list-item a {
        line-height: 250%;
    }

    .active {
        color: white !important;
    }

    .about {
        height: auto;
    }

    .work-desc {
        margin: 30px 0 20px 0;
    }

    .work-container {
        padding: 70px 25px;
    }

    .work-buttons {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .work-btn {
        width: 100%;
        margin: 10px 0;
    }

    .contact {
        height: auto;
    }

    .main-btn {
        max-width: 200px;
    }
}

@media (min-width: 320px) and (max-width: 430px) and (orientation: landscape) {
    body {
        font-size: 12px !important;
    }

    .main-title {
        font-size: 1.8em;
    }

    .intro {
        margin-top: 0px;
        font-size: 0.85em;
    }

    header {
        padding: 20px 25px;
        width: calc(100% - 50px);
    }

    .logo {
        width: 40px;
    }

    .nav-arrow {
        display: none;
    }

    .icon-bar {
        display: none;
    }

    .index {
        background-size: 200%;
    }

    footer {
        padding: 0;
        width: 100%;
    }

    .normal-footer {
        position: fixed;
        top: 100%;
        -webkit-transform: translateY(-25%);
        -moz-transform: translateY(-25%);
        -ms-transform: translateY(-25%);
        -o-transform: translateY(-25%);
        transform: translateY(-25%);
    }

    .no-animation-footer {
        transform: translateY(-25%);
    }

    .foot-wrapper {
        background-color: black;
        padding: 15px 25px 25px 25px;
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .foot-wrapper .cols {
        width: 100%;
        text-align: center !important;
    }

    .foot-wrapper .contact-title {
        display: block;
        padding-left: 10px !important;
        margin-bottom: 15px;
        width: calc(100% - 10px) !important;
    }

    .foot-wrapper .social-icon {
        display: block;
        margin: 15px 0px;
    }

    .foot-wrapper .social-icon a {
        margin: 0px 10px;
    }

    .foot-wrapper .cols {
        color: white;
        padding: 2px 0;
    }

    .foot-wrapper .cols a,
    .copyright {
        color: white;
        text-decoration: none;
    }

    @keyframes slideInFromBottom {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-25%);
        }
    }

    /* Firefox < 16 */
    @-moz-keyframes slideInFromBottom {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-25%);
        }
    }

    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes slideInFromBottom {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-25%);
        }
    }

    /* Internet Explorer */
    @-ms-keyframes slideInFromBottom {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-25%);
        }
    }

    /* Opera < 12.1 */
    @-o-keyframes slideInFromBottom {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-25%);
        }
    }

    .arrow {
        width: 13px;
        height: 13px;
        display: inline-block;
        position: relative;
        bottom: -5px;
        left: -10px;
        transition: 0.4s ease;
        margin-top: 2px;
        text-align: left;
        transform: rotate(45deg);
    }

    .arrow:before {
        position: absolute;
        content: "";
        display: inline-block;
        width: 12px;
        height: 2px;
        background-color: #fff;
        transition: 0.4s ease;
        position: absolute;
        transform: rotate(90deg);
    }

    .arrow:after {
        position: absolute;
        content: "";
        display: inline-block;
        width: 12px;
        height: 2px;
        background-color: #fff;
        transition: 0.4s ease;
        top: -6px;
        left: 6px;
    }

    .full-menu .modal-close {
        padding: 15px 15px;
        margin: 20px 15px;
        width: 20px;
        height: 20px;
    }

    .full-menu .cpright {
        font-size: 12px;
    }

    .full-menu .nav-logo {
        padding: 15px 25px;
    }

    .full-menu .nav-logo img {
        width: 40px;
        height: 55px;
    }

    .menu-list-item a {
        line-height: 180%;
    }

    .active {
        color: white !important;
    }

    .about {
        height: auto;
    }

    .work-desc {
        margin: 30px 0 20px 0;
    }

    .work-container {
        padding: 70px 25px;
    }

    .work-buttons {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .work-btn {
        width: 100%;
        margin: 10px 0;
    }

    .contact {
        height: auto;
    }

    .main-btn {
        max-width: 200px;
    }
}